# dependencies
/node_modules

# build output
/dist

# production
/build

# debug
npm-debug.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo

# local data
.obsidian/
.DS_Store

# IDE
.idea/
.vscode/

# generated data
/src/data/posts.json
